
<label>Pirate Info</label>
Name: <%= @new_pirate.name %> <br>
Weight: <%= @new_pirate.weight %> <br>
Height: <%= @new_pirate.height %> <br><br>

<label>Ships</label>
<% Ship.all.each do |ship| %>
Name: <%= ship.name %><br>
Type: <%= ship.type %><br>
Booty: <%= ship.booty %><br>
<% end %>